* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "News Cycle", "Open Sans", sans-serif;
}

html,
body {
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

.w-960 {
  width: 960px;
}

.centrado {
  margin-left: auto;
  margin-right: auto;
}

.ta-center {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.d-line-block {
  display: inline-block;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-14 {
  font-size: 14px;
}

.font-s-16 {
  font-size: 16px;
}

.font-s-18 {
  font-size: 18px;
}

.font-s-28 {
  font-size: 28px;
}

.marg-r-10 {
  margin-right: 10px;
}

.marg-b-20 {
  margin-bottom: 20px;
}

.marg-b-40 {
  margin-bottom: 40px;
}

.marg-top-40 {
  margin-top: 40px;
}

.mayu-1 {
  text-transform: capitalize;
}

.mayu {
  text-transform: uppercase;
}

/* ---------------------------------------------------- */

table,
th,
td {
  border-collapse: collapse;
  padding: 20px;
}

th,
td {
  border: 1px solid black;
}
